 .blog-inner{

    width: 502px;
    background-color: white;
    border: 1px solid white;
    margin-left: 40px;
    margin-bottom: 50px;
    border: 2px solid;
    margin-top: 50px;

}

#blog{
    background-color: whitesmoke;
}



#blog h1{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-size: 30px;
}
.blog-inner p{
    padding-left: 30px;
    padding-right: 20px;
    color: #5d5d5d;
}

.blog-inner #b22{
    padding: 15px 30px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 40px;
}
.blog-inner #b11{
    padding: 15px 30px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #d52349;
    border-radius: 5px;
    background-color: #d52349;
    color: white;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
}
.blog-inner img{
    width: 500px;
}